
  <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-5 col-xs-12 col-sm-offset-1">
          <ul><a href="/about">About</a><br>
          <a href="/terms">Terms</a><br>
          <a href="/privacy">Privacy</a></ul>
          </div>
        <p class="text-muted"></p>
          <div class="col-sm-5 col-xs-12">
            <h4 class="new_space">Own a space?</h4>
            <p class="space_register">
              If you own a beautiful space and can provide workers with a new location
            to get shit done, then sign up here. Create a listing, tailor your offering and wait
            to see your space realise its potential.
          </p>
            <button type="button" class="btn btn-default">
            <%= link_to('Get Started', ownersignup_path) %>
            </button>
            </div>
    </div>
  </footer>
