<div class="container">
        <div class="panel panel-default">
          <div class="panel-header">Worker</div>
            <div class="panel-body">
              <%= render "partials/workerlogin" %>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-header">Owner</div>
            <div class="panel-body">
              <%= render "partials/ownerlogin" %>
            </div>
          </div>
        </div>
      </div>
