<div class="row">
  <div class="col-md-6 leftside">
    <!-- <button type="button" class="button btn btn-primary btn-lg pull-right" data-toggle="modal" data-target="DEVELOPMENT">
      FULL STACK DEVELOPER
    </button> -->
    <a href="partials/workerlogin" class="cd pull-right">
    WORKER
    </a>
  </div>

  <div class="col-md-6 rightside">
    <!-- <button type="button" class="button btn btn-primary btn-lg pull-left" data-toggle="modal" data-target="VR">
      VIRTUAL REALITY CREATIVE
    </button> -->
    <a href="/" class="cd pull-left">
      RESTAURANT OWNER
    </a>
  </div>
</div>
