// Place all the styles related to the spaces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carousel-inner {
  height: 75vh;
  width: auto;

}
#map {
        height: 50vh;
        width:100%;
      }

div.simple-calendar {
  width: 40vw;
  // min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  // min-height: 100vh; /* These two lines are counted as one :-)       */

  // display: flex;
  align-items: center;

}
.center-block {
   margin-left:auto;
   margin-right:auto;
   display:block;
}
